{% extends "base.html" %}

{% block head_title %}
Home
{% endblock %}

{% block content %}
  <div class="row flex-column justify-content-center">
    <div class='col-12 d-flex justify-content-center'>
      <h2>{{ title }}</h2>
    </div>
    {% if user.is_authenticated %}
    <div class='col-12 d-flex justify-content-center'>
      <p> {{ user }} </p>
    </div>
    {% endif %}
  </div>
    <div class='row row-cols-1'>
    {% for b in blog_list %}
      {% include 'blog/list-inline.html' with blog_post=b truncate=True detail=False%}
    {% endfor %}
    </div>
{% endblock %}
